@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "proxima";
  src: url("/fonts/proxima_nova/ProximaNova-Regular.otf");
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100vw;
}

p,
ul {
  font-size: 1em;
  width: 480px;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 20px;
}
q {
  display: block;
  width: 480px;
  margin: 0 auto;
  padding-bottom: 20px;
}
h1,
h2,
h3 {
  text-align: center;
  letter-spacing: 0.05em;
}
h1 {
  font-size: 2em;
  line-height: 2em;
  padding: 40px 0;
}
h2 {
  font-size: 1.6em;
  padding: 40px 0;
  background-color: rgb(20, 18, 18);
  color: white;
}
h3 {
  font-size: 1.2em;
  padding: 20px 0;
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.titleh2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  align-self: center;
}
.imgart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin: auto;
  width: 100%;
  padding-bottom: 0px;
  height: 300px;
  object-fit: cover;
}
section {
  padding: 0 24px;
  background-color: rgb(243, 243, 243);
}
section:nth-child(2n + 1) {
  background-color: #db887d;
}
section:nth-child(2n) {
  background-color: rgb(182, 219, 146);
}
section:nth-child(3n + 2) {
  background-color: #caa9db;
}

.sec2 {
  grid-row-start: 4;
  grid-column-start: 2;
}
.sec3 {
  grid-row-start: 5;
  grid-column-start: 3;
}
.sec4 {
  grid-row-start: 6;
  grid-column-start: 1;
}
.sec5 {
  grid-row-start: 7;
  grid-column-start: 2;
}
.sec6 {
  grid-row-start: 8;
  grid-column-start: 3;
}
.sec7 {
  grid-row-start: 9;
  grid-column-start: 1;
}

.listeEx {
  width: 480px;
  margin: 0 auto;
  list-style-type: circle;
  padding-bottom: 20px;
  text-indent: 50px;
}
#police {
  width: 70%;
}
#polices li {
  display: flex;
  flex-direction: column;
}
#polices li p {
  text-align: center;
}

#polices li img {
  width: 30%;
  margin: 0 auto;
}

#illustration {
  clear: both;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  filter: sepia(1);
}
a {
  text-decoration: none;
  color: rgb(122, 48, 97);
}

footer {
  background-color: rgb(20, 18, 18);
  color: white;
}
footer p {
  padding: 20px 0;
  text-align: center;
}
footer p a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  section:nth-child(2n + 1) {
    background-color: transparent;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  h2 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    margin: auto;
  }
  p,
  ul,
  q {
    width: 80%;
    text-align: left;
  }

  img {
    width: 100%;
  }
  ul li a {
    font-size: 0.8em;
  }
}
