body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

p {
  font-size: 1em;
  max-width: 50%;
  margin-bottom: 24px;
}

h1 {
  width: 20%;
  margin: 0 auto;
  padding: 24px;
  text-align: initial;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 0.1em;
}
h1 span {
  font-size: 0.5em;
  display: block;
  text-align: right;
}
h2 {
  display: none;
}

#maj {
  font-size: 48px;
  padding-right: 6px;
  line-height: 48px;
  float: left;
  color: #c94d4a;
}

h3 {
  text-transform: uppercase;
  text-indent: 48px;
  letter-spacing: 0.2em;
  padding-bottom: 24px;
  color: #c94d4a;
}
article section {
  padding: 24px;
}

article section:nth-child(2) h3 {
  display: none;
}

article section:nth-child(2n + 1) {
  background-color: #f5f5f5;
}
article section:nth-child(2n + 1) img {
  width: 50%;
  transform: translate(-50%, 0px);
  border: 24px solid #f5f5f5;
}

article {
  margin: 0 auto;
  width: 50%;
  transform: translate(25%, 0px);
}

a {
  text-decoration: none;
  color: #3f658e;
}
a:hover {
  color: #263e58;
  font-size: 1.025em;
}
hr {
  display: none;
}

footer p {
  text-align: center;
  width: 50%;
  transform: translate(50%, 0px);
  border-top: 2px solid green;
  margin-top: 48px;
  padding-top: 24px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 0.8em;
    max-width: 90%;
    margin-bottom: 20px;
  }
  h1 {
    width: 50%;
    padding: 20px;
  }

  #maj {
    font-size: 36px;
    padding-right: 6px;
    line-height: 40px;
  }

  h3 {
    padding-bottom: 20px;
  }
  article section {
    padding: 20px;
  }

  article section:nth-child(2n + 1) img {
    width: 100%;
    transform: translate(0%, 0px);
    border: none;
  }

  article {
    margin: 0 auto;
    width: 90%;
    transform: translate(0%, 0px);
  }

  footer p {
    margin-top: 40px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
    line-height: 14px;
  }

  p {
    font-size: 0.8em;
    max-width: 90%;
    margin-bottom: 14px;
  }
  h1 {
    width: 70%;
    padding: 14px;
  }

  #maj {
    font-size: 36px;
    padding-right: 6px;
    line-height: 40px;
  }

  h3 {
    text-indent: 28px;
    padding-bottom: 14px;
  }
  article section {
    padding: 14px;
  }

  article section:nth-child(2n + 1) img {
    width: 100%;
    transform: translate(0%, 0px);
    border: none;
  }
  article section img {
    width: 100%;
  }
  ul li {
    font-size: 0.8em;
  }
  article {
    margin: 0 auto;
    width: 90%;
    transform: translate(0%, 0px);
  }
}
