@font-face {
  font-family: "noto";
  src: url("/fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: "lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf");
}
body {
  width: 90%;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: "lora";
  font-weight: normal;
  font-size: 2em;
  line-height: 48px;
  text-align: center;
  font-style: italic;
}
p {
  font-size: 1em;
  max-width: 480px;
  margin-bottom: 24px;
}

h2 {
  text-transform: uppercase;
}
a {
  text-decoration: underline;
  color: rgb(59, 59, 105);
}
blockquote p {
  font-family: "noto";
}
